---
layout: default
title: Sparrow-Labs UG Development Blog
---

<div class="wrapper">
  <section>
      <h2>Welcome to the Sparrow-Labs Development Blog</h2>
      {% for post in site.posts %}
        {% if post.inactive != true %}
          <li>
            <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
            <b> by </b>
            <a class="author" href="http://github.com/{{post.author}}">@{{post.author}}</a>
          </li>
        {% endif %}
      {% endfor %}
  </section>
  <footer>
	<p>
		<small><a href="/feed.xml">RSS Feed</a></small></br>
		<small>Hosted on <a href="https://pages.github.com">GitHub Pages</a></small>
	</p>
  </footer>
</div>
