---
layout: default
---

<div class="wrapper">

  <header>
    <h1 class="header">Navigation</h1>
    <ul>
      <li class="buttons"><a class="buttons back" href="/">Posts</a></li>
      <li class="buttons"><a class="buttons github" href="http://github.com/sparrow-labs">Sparrow-Labs</a></li>
    </ul>
  </header>
  <section>
    <article>
      {{content}}
    </article>
  </section>
  <footer>
    <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a></small></p>
  </footer>
</div>